@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos {
    margin-top: v.$separacion;

    &__contenido {
        background-color: v.$primario;
    }

    &__heading {
        text-align: center;
        color: v.$blanco;

        &--descripcion {
            font-size: 1.8rem;
            display: block;
        }
    }

    &__grid {
        @include m.tablet {
            @include m.grid(3, 5rem);
            
        }
        
    }

    &__imagen {

        transition: transform .3s ease-in-out;

        &:hover{
            transform: rotate(-4deg) scale(1.05);
        }
    }
}