@use 'base/variables' as v;
@use 'base/mixins' as m;

.favorito {
    background-color: v.$blanco;
    border-radius: 1rem;
    padding: 4rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include m.tablet {
        margin-bottom: 0;
    }

    &__grid {
        @include m.tablet {
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: 2rem;
            align-items: center;            
        }
        
        @include m.desktop {
            grid-template-columns: 1fr 3fr;
            gap: 4rem;
        }        
    }

    &__imagen{
        max-width: 20rem;
        margin: 0 auto 2rem auto;
    }

    &__contenido{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            align-items: flex-start;
        }        
    }

    &__nombre {
        margin: 1rem 0;
        color: v.$primario;
        font-size: 2.4rem;
    }

    &__descripcion {
        margin: .5rem 0;
        text-align: justify;
        font-size: 1.6rem;
        color: v.$secundario;
        line-height: 1.5;

        @include m.tablet {
            text-align: left;
        }
        
    }
    
}